pkgbase = hiren-git
	pkgdesc = Wayland-native app launcher with fuzzy search, window switching, and inline calculator
	pkgver = 0.1.0.r5.5b36177
	pkgrel = 1
	url = https://github.com/s3yf1337/hiren
	arch = x86_64
	license = MIT
	makedepends = git
	makedepends = rust
	makedepends = cargo
	depends = gtk4
	depends = gtk4-layer-shell
	optdepends = wl-clipboard: clipboard support for calc mode
	optdepends = xclip: clipboard support for calc mode (X11)
	optdepends = wmctrl: X11 window switching
	optdepends = sway: Sway window switching
	optdepends = hyprland: Hyprland window switching
	provides = hiren=0.1.0.r5.5b36177
	conflicts = hiren
	source = hiren-git::git+https://github.com/s3yf1337/hiren.git
	sha256sums = SKIP

pkgname = hiren-git
